<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/css/creative.css" type='text/css'>
    <title>FXCore</title>
  </head>
  <body>
    <header>
      <div class='container-fluid'>
        <div class='collapse navbar-collapse'>
          <ul class='nav navbar-nav navbar-right'>
          <li>
            <a>Home</a>
          </li>
          <li>
            <a>FX</a>
          </li>
          <li>
            <a>About</a>
          </li>
        </div>
      </div>
    </header>
    <h1>Welcome to FXCore</h1>
  </body>
</html>
