<div>
  <form action="/user" method="post">
      <div>
          <input type="text" name="email" placeholder="Enter Email"/>
      </div>
      <div>
          <input type="password" name="password" placeholder="Enter Password"/>
      </div>
      <div>
          <input type="submit" value="Log In"/>
      </div>
  </form>
</div>
