<h1>Sign Up</h1>
<div>
  <form method="POST" action='/user'>
    <label for='name'>First Name</label>
      <input type="text" id="name" name='name'>
    <label for='lastName'>Last Name</label>
      <input type="text" id='lastName' name='lastName'>
    <label for='email'>Email</label>
      <input type="text" id='email' name='email'>
    <label for='password'>Password</label>
      <input type="password" id='password' name='password'>
    <label for='password'>Password Confirmation</label>
      <input type="password" id='password' name='password'>
      <input type="submit" value="Submit">
  </form>
</div>
