<h1>Sign Up</h1>
<div>
  <form>
    <label>First Name<label>
      <input type="text" name="" value="">
    <label>Last Name<label>
      <input type="text" name="" value="">
    <label>Email<label>
      <input type="text" name="" value="">
    <label>Password<label>
      <input type="text" name="" value="">
    <label>Password Confirmation<label>
      <input type="text" name="" value="">
      <input type="submit" name="" value="Submit" method="POST">
  </form>
</div>
