<h1>Sign Up</h1>
<div>
  <form method="post" action='/user'>
    <label>First Name<label>
      <input type="text" name="">
    <label>Last Name<label>
      <input type="text" name="">
    <label>Email<label>
      <input type="text" name="">
    <label>Password<label>
      <input type="password" name="">
    <label>Password Confirmation<label>
      <input type="password" name="">
      <input type="submit" value="Submit">
  </form>
</div>
