<div class='signup-form'>
  <div class='heading'>
    <h1>Sign Up</h1>
  <div>
  <div class='signup content'>
    <form method="POST" action='/user'>
        <input type="text" id="name" name='name' placeholder='First Name'>
        <input type="text" id='lastName' name='lastName' placeholder="Last Name">
        <input type="text" id='email' name='email' placeholder="Email Address">
        <input type="password" id='password' name='password' placeholder="Enter Password">
        <input type="password" id='password' name='password' placeholder="Password Confirm">
        <input type="button" value="Join">
    </form>
  </div>
</div>
