img {
  width: 100%;
  height: 254px;
}

.list {
  display: flex;
  padding: 50px;
}

.article-container {
  border: 1px solid white;
  width: 450px;
  height: 379px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition-timing-function: ease-out;
}

.article-container:hover {
  border: 4px solid #1263ac;
}

.article-title {
  font-size: 1em;
}

.article-title > h4 {
  color: black;
  padding-left: 10px;
}

.article-author {
  clear: left;
  padding-left: 10px;
}

ul {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 150px;
}

.article-layout > ul {
  background-color: #f4f4f4;
}

.icons {
  float: right;
  right: 50px;
  bottom: 5px;
  position: absolute;
}

.icons > span {
  padding-right: 10px;
  margin-bottom: 10px;
}

.read-more {
  padding-top: 5px;
  padding-left: 10px;
}

.article-source {
  background-color: #00a4f5;
  padding-left: 50px;
  position: absolute;
}

#recent-news{
  background-color: #00a4f5;
  color: white;
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top:0px;
}


.news-items {
  margin-bottom: 0px;
  margin-top: 0px;
}

.backgroundImage > img {
  height: 70vh;
  margin-top: 0px;
}
