img {
  width: 450px;
  height: 254px;
}

.list {
  display: flex;
  padding: 50px;
}

.article-container {
  border: 1px solid white;
  width: 450px;
  height: 360px;
  background-color: #a6d4ea;
  position: relative;
}

.article-title {
  font-size: 1em;
}

.article-title > h4 {
  color: black;
  padding-left: 10px;
}

.article-author {
  clear: left;
  padding-left: 10px;
}

ul {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 150px;
}

.icons {
  float: right;
  right: 50px;
  bottom: 5px;
  position: absolute;
}

.icons > span {
  padding-right: 10px;
  margin-bottom: 10px;
}

.read-more {
  padding-top: 5px;
  padding-left: 10px;
}
