.signup-content h3, h5{
  display: flex;
  justify-content: center;
  color: #fefefe;
  font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, sans-serif;
}

.signup-layout {
  background-color: #00a4f5;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  align-items: center;
  background-color: #00a4f5;
  border: 1px solid #fefefe;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
}

form input{
  margin-right: 15px;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 10px;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 100px;

}

form input:nth-child(5){
  background-color: #2b2d45;
  color: #fefefe;
  border-radius: 10px;
  padding: 15px 30px;
  width: 176px;
}

form input:hover:nth-child(5){
  color: #2b2d45;
  background-color: #fefefe;
}

.signup-layout {
  padding-top: 10px;
  padding-bottom: 20px;
}

.signup-content {
  height: 100%;
  position: relative;
}

.animation-feature {
  font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, sans-serif;
}

.border-line {
  border-bottom: 1px solid grey;
}

.signup-animation {
  position: absolute;
  left: 150px;
  top: 200px;
  color: white;
  animation: x 5s forwards;
}

@keyframes x {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
        transform: translateY(-70px)
    }
}
