<p>FX page</p>
<ul>
  <% for(var key in data) {%>
    <% if(!data.hasOwnProperty(key)) continue; %>
    <% var obj = data[key]; %>
      <% for(var prop in obj) {%>
        <% if(!obj.hasOwnProperty(prop)) continue; %>
      <% } %>
      <li><%= obj %><li>
  <% } %>
</ul>
